/* Styling for the navbar */
* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  color: #333;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.navbar-menu {
  margin-right: 20px;
}

.navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 15px;
}

.navbar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.navbar-menu li a:hover {
  color: #ffc107;
}

/* Styling for the contact list */
.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.contact-info {
  flex-grow: 1;
}

.contact-name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.contact-location {
  color: #d3d3d3;
  font-size: 14px;
  margin-top: 5px;
}

.contact-location span {
  margin-right: 5px;
}

.contact-action-buttons {
  display: flex;
  align-items: center;
}

.contact-action-buttons button {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-button {
  background-color: #008cba;
  color: white;
}

.chat-button:hover {
  background-color: #45a049;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #666;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #fff;
  color: #666;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message1 {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message1 .text1 {
  font-size: 15px;
  font-weight: 400;
  ;
  color: #666666;
}

.message1 .text1.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #666;
}

.progress.active:before {
  animation: progress 2s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
